<a href="https://colab.research.google.com/github/ZykinaViktoriya/Python_for_analytics/blob/main/Lection2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Series

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [104]:
a = pd.Series([4, 7, 6, 3, 9], index=['one', 'two', 'three', 'four', 'five'])
a

one      4
two      7
three    6
four     3
five     9
dtype: int64

In [105]:
a = pd.Series([4, 7, 6, 3, 9])
a

0    4
1    7
2    6
3    3
4    9
dtype: int64

In [106]:
a.index

RangeIndex(start=0, stop=5, step=1)

In [107]:
a.values

array([4, 7, 6, 3, 9])

In [108]:
a[0]

4

In [110]:
a['two']

KeyError: ignored

## DataFrame

In [111]:
df = pd.DataFrame({
    'Age': [46, 37, 44, 42, 42],
    'Country': ['Spain', 'Spain', 'Germany', 'Germany', 'France'],
    'Gender': ['Female', 'Female', 'Male', 'Male', 'Male']
})
df

   Age  Country  Gender
0   46    Spain  Female
1   37    Spain  Female
2   44  Germany    Male
3   42  Germany    Male
4   42   France    Male

In [112]:
df['Age']

0    46
1    37
2    44
3    42
4    42
Name: Age, dtype: int64

In [113]:
df.Country

0      Spain
1      Spain
2    Germany
3    Germany
4     France
Name: Country, dtype: object

In [114]:
df[['Country', 'Age']]

   Country  Age
0    Spain   46
1    Spain   37
2  Germany   44
3  Germany   42
4   France   42

In [115]:
df.columns

Index(['Age', 'Country', 'Gender'], dtype='object')

In [116]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [117]:
df = pd.DataFrame({
    'Age': [46, 37, 44, 42, 42],
    'Country': ['Spain', 'Spain', 'Germany', 'Germany', 'France'],
    'Gender': ['Female', 'Female', 'Male', 'Male', 'Male']
}, index=[5,4,6,3,2])
df

   Age  Country  Gender
5   46    Spain  Female
4   37    Spain  Female
6   44  Germany    Male
3   42  Germany    Male
2   42   France    Male

In [118]:
df.index = [101, 102, 103, 104, 105]
df

     Age  Country  Gender
101   46    Spain  Female
102   37    Spain  Female
103   44  Germany    Male
104   42  Germany    Male
105   42   France    Male

In [119]:
from google.colab import files
uploaded = files.upload()

Saving Churn_Modelling.csv to Churn_Modelling (2).csv

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [120]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [121]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [122]:
df.tail()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [ ]:
df.sample()
# случайная строка

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9642,9643,15579820,Robertson,704,Spain,Male,38,6,106687.76,1,1,0,173776.5,0

In [ ]:
df.sample(frac=1)
# все строки в случайном порядке, перемешивание

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9948,9949,15735078,Onwughara,724,Germany,Female,53,1,139687.66,2,1,1,12913.92,0
4173,4174,15747808,Ni,712,France,Male,29,3,102540.61,1,1,1,189680.79,0
3673,3674,15606915,Genovese,764,France,Male,24,7,98148.61,1,1,0,26843.76,0
703,704,15566292,Okwuadigbo,574,Spain,Male,36,1,0.00,2,0,1,71709.12,0
7566,7567,15732943,Okwuoma,574,Spain,Male,36,4,77967.50,1,1,0,167066.95,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7492,7493,15776545,Napolitani,682,France,Male,28,10,200724.96,1,0,1,82872.64,1
191,192,15771086,Graham,512,France,Female,36,3,84327.77,2,1,0,17675.36,0
6252,6253,15687492,Anderson,596,Germany,Male,32,3,96709.07,2,0,0,41788.37,0
7185,7186,15686885,Nekrasov,777,Germany,Male,44,3,124655.59,2,0,1,79792.30,0
7976,7977,15659656,Pan,849,France,Male,35,4,110837.73,1,0,0,126419.80,0

In [ ]:
df.sample(frac=0.5)
# случайная половина данных

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
1366,1367,15621353,Hudson,645,Spain,Female,37,7,0.00,2,1,0,13589.93,0
6379,6380,15770543,Lowe,679,France,Male,37,7,74260.03,1,1,0,194617.98,0
3487,3488,15734044,Black,671,France,Female,31,7,41299.03,1,0,1,102681.32,0
33,34,15659428,Maggard,520,Spain,Female,42,6,0.00,2,1,1,34410.55,0
2773,2774,15610765,Onwumelu,559,France,Male,29,1,0.00,2,0,0,155639.76,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387,388,15776433,Greco,730,Spain,Male,62,2,0.00,2,1,1,186489.95,0
4031,4032,15648461,Hs?eh,688,Spain,Male,37,7,138162.41,2,1,1,113926.31,0
1464,1465,15595067,Zhirov,637,Spain,Female,40,6,0.00,2,1,1,181610.60,0
8018,8019,15616676,Donnelly,632,Germany,Male,23,3,122478.51,1,1,0,147230.77,1
9229,9230,15629010,Beam,847,Germany,Female,35,5,111743.43,1,1,1,183584.14,0

In [ ]:
df.shape
# кортеж из количества строк и столбцов

(10000, 14)

## Первичный анализ данных

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [ ]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

*   count - количество непропущенных объектов
*   mean - арифметическое среднее
*   std - стандартное отклонение
*   min - минимальное значение
*   25% - квантиль 25%
*   50% - квантиль 50% или же медиана
*   75% - квантиль 75%
*   max - максимальное значение

In [ ]:
df['Age'].min()

18

In [ ]:
df['Balance'].max()

250898.09

In [ ]:
df[['CreditScore', 'Age', 'Tenure']].mean()

CreditScore    650.5288
Age             38.9218
Tenure           5.0128
dtype: float64

In [ ]:
df.describe(include=['object'])

       Surname Geography Gender
count    10000     10000  10000
unique    2932         3      2
top      Smith    France   Male
freq        32      5014   5457

* count - количество непропущенных объектов
* unique - количество уникальных значений
* top - самое частое значение
* freq - ччастота появления самого частотного значение

In [ ]:
df.dtypes

RowNumber            int64
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [ ]:
df['Age'].dtype

dtype('int64')

In [ ]:
df['HasCrCard'].astype(bool)

0        True
1       False
2        True
3       False
4        True
        ...
9995     True
9996     True
9997    False
9998     True
9999     True
Name: HasCrCard, Length: 10000, dtype: bool

In [ ]:
df['HasCrCard'].dtype

dtype('int64')

In [ ]:
df['HasCrCard'] = df['HasCrCard'].astype('bool')

In [ ]:
df['HasCrCard'].dtype

dtype('bool')

In [ ]:
df['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [ ]:
df['Geography'].nunique()

TypeError: ignored

In [ ]:
df['Geography'].value_counts()
# абсолютные показатели,частотность

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [ ]:
df['Geography'].value_counts(normalize=True)
# относительные величины(процент)

## Фильтрация

In [ ]:
df['Gender'] == 'Male'
# фильтруем по половому признаку

In [ ]:
male = df[df['Gender'] == 'Male']
male
# передаем фильтрацию в наш df и выводим только нужные строки(male)

## Логическое И &
выполняются оба условия одновременно

In [123]:
df['Gender'] == 'Female'

0        True
1        True
2        True
3        True
4        True
        ...
9995    False
9996    False
9997     True
9998    False
9999     True
Name: Gender, Length: 10000, dtype: bool

In [124]:
df[(df['Gender'] == 'Female') & (df['NumOfProducts'] >= 3)]

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
30,31,15589475,Azikiwe,591,Spain,Female,39,3,0.00,3,1,0,140469.38,1
88,89,15622897,Sharpe,646,France,Female,46,4,0.00,3,1,0,93251.42,1
90,91,15757535,Heap,647,Spain,Female,44,5,0.00,3,1,1,174205.22,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9565,9566,15752294,Long,582,France,Female,38,9,135979.01,4,1,1,76582.95,1
9747,9748,15775761,Iweobiegbunam,610,Germany,Female,69,5,86038.21,3,0,0,192743.06,1
9800,9801,15640507,Li,762,Spain,Female,35,3,119349.69,3,1,1,47114.18,1
9877,9878,15572182,Onwuamaeze,505,Germany,Female,33,3,106506.77,3,1,0,45445.78,1
9895,9896,15796764,Bruno,684,Germany,Female,56,3,127585.98,3,1,1,80593.49,1

### Логическое ИЛИ |
выполняется хотя бы одно условие

In [125]:
df[(df['HasCrCard']) | (df['NumOfProducts'] >= 3)]

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9993,9994,15569266,Rahman,644,France,Male,28,7,155060.41,1,1,0,29179.52,0
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

### Логическое НЕ isin/~
true меняется на false

In [126]:
df[~(df['Geography'] == 'Spain')]

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [127]:
df[df['Geography'].isin(['France', 'Germany'])]

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

## Индексация

### loc
выводит только явно указанные номера индексов в таблице

In [128]:
df_small = df[(df['Geography'] == 'Spain')][['Geography', 'Gender', 'Age']]
df_small.head()

   Geography  Gender  Age
1      Spain  Female   41
4      Spain  Female   43
5      Spain    Male   44
11     Spain    Male   24
14     Spain  Female   35

In [129]:
df_small.loc[1]

Geography     Spain
Gender       Female
Age              41
Name: 1, dtype: object

In [131]:
df_small.loc[5]

Geography    Spain
Gender        Male
Age             44
Name: 5, dtype: object

In [132]:
df_small.loc[[1,4,5], ['Gender', 'Age']]

   Gender  Age
1  Female   41
4  Female   43
5    Male   44

### iloc
выводит индексы по порядку

In [133]:
df_small.head()

   Geography  Gender  Age
1      Spain  Female   41
4      Spain  Female   43
5      Spain    Male   44
11     Spain    Male   24
14     Spain  Female   35

In [134]:
df_small.iloc[[0,1,2]]

  Geography  Gender  Age
1     Spain  Female   41
4     Spain  Female   43
5     Spain    Male   44

In [138]:
df_small.iloc[0, [0,2]]

Geography    Spain
Age             41
Name: 1, dtype: object

## Сортировка

In [140]:
df.sort_values('Age')

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
3512,3513,15657779,Boylan,806,Spain,Male,18,3,0.00,2,1,1,86994.54,0
1678,1679,15569178,Kharlamov,570,France,Female,18,4,82767.42,1,1,0,71811.90,0
3517,3518,15757821,Burgess,771,Spain,Male,18,1,0.00,2,0,0,41542.95,0
9520,9521,15673180,Onyekaozulu,727,Germany,Female,18,2,93816.70,2,1,0,126172.11,0
2021,2022,15795519,Vasiliev,716,Germany,Female,18,3,128743.80,1,0,0,197322.13,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3387,3388,15798024,Lori,537,Germany,Male,84,8,92242.34,1,1,1,186235.98,0
3033,3034,15578006,Yao,787,France,Female,85,10,0.00,2,1,1,116537.96,0
2458,2459,15813303,Rearick,513,Spain,Male,88,10,0.00,2,1,1,52952.24,0
6759,6760,15660878,T'ien,705,France,Male,92,1,126076.24,2,1,1,34436.83,0
6443,6444,15764927,Rogova,753,France,Male,92,3,121513.31,1,0,1,195563.99,0

In [141]:
df.sort_values('Age', ascending=False)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
6443,6444,15764927,Rogova,753,France,Male,92,3,121513.31,1,0,1,195563.99,0
6759,6760,15660878,T'ien,705,France,Male,92,1,126076.24,2,1,1,34436.83,0
2458,2459,15813303,Rearick,513,Spain,Male,88,10,0.00,2,1,1,52952.24,0
3033,3034,15578006,Yao,787,France,Female,85,10,0.00,2,1,1,116537.96,0
3387,3388,15798024,Lori,537,Germany,Male,84,8,92242.34,1,1,1,186235.98,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9782,9783,15728829,Weigel,509,France,Male,18,7,102983.91,1,1,0,171770.58,0
2141,2142,15758372,Wallace,674,France,Male,18,7,0.00,2,1,1,55753.12,1
9501,9502,15634146,Hou,835,Germany,Male,18,2,142872.36,1,1,1,117632.63,0
9520,9521,15673180,Onyekaozulu,727,Germany,Female,18,2,93816.70,2,1,0,126172.11,0
1619,1620,15770309,McDonald,656,France,Male,18,10,151762.74,1,0,1,127014.32,0

In [142]:
df.sort_values(['Age', 'CreditScore'])

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9782,9783,15728829,Weigel,509,France,Male,18,7,102983.91,1,1,0,171770.58,0
1678,1679,15569178,Kharlamov,570,France,Female,18,4,82767.42,1,1,0,71811.90,0
9029,9030,15722701,Bruno,594,Germany,Male,18,1,132694.73,1,1,0,167689.56,0
7334,7335,15759133,Vaguine,616,France,Male,18,6,0.00,2,1,1,27308.58,0
9526,9527,15665521,Chiazagomekpele,642,Germany,Male,18,5,111183.53,2,0,1,10063.75,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3387,3388,15798024,Lori,537,Germany,Male,84,8,92242.34,1,1,1,186235.98,0
3033,3034,15578006,Yao,787,France,Female,85,10,0.00,2,1,1,116537.96,0
2458,2459,15813303,Rearick,513,Spain,Male,88,10,0.00,2,1,1,52952.24,0
6759,6760,15660878,T'ien,705,France,Male,92,1,126076.24,2,1,1,34436.83,0
6443,6444,15764927,Rogova,753,France,Male,92,3,121513.31,1,0,1,195563.99,0